<div class="container">
<div class="title post element">
<%= link_to 'New Post', new_post_path(@post) %>
</div>
<% @posts.each do |post| %>
<div class="post">
  <div class="title element">
    <%= post.title %>
  </div>
  <div class="body">
    <%= post.body%>
  </div>
  <%= link_to 'Edit Post', edit_post_path(post)%>
</div>

<% end %>








</div>
