/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *:before, *:after {
   box-sizing: inherit;
 }
 html {
   box-sizing: border-box;
   font-family: helvetica;
 }
 html,
 body {
   height: 100%;
 }

 /* CLASSES */
 .bar {
   display: flex;
   align-items: center;
   width: 960px;
   background: black;
   padding: 20px;
   color: white;
   margin: 0 auto;
   margin-top: -10px;
 }

.container {
  width: 960px;
  margin: 0 auto;
}

.post {
  width: 620px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 10px;
}

.body {
  margin: 10px;
  font-family: Helvetica;

}

.title {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  color: white;
  font-family: Helvetica;
  background-color: black;
}

.icon {
  margin-right: 10%;
  text-decoration: none;
  font-family: helvetica;
}



.search input {
  width: 20%;
  float: right;
}

.element {
  animation: pulse 3s infinite;
  animation-direction: alternate;
  animation-fill-mode: none, backwards;
  animation-play-state: running, paused;
}

@keyframes pulse {
  0% {
background-color: #001F3F;
  }
  100% {
background-color: #FF4136;
  }
}

input {
  display: block;
}

.form_title {
  width: 300px;
  display: block;
  background-color: #E1E0DD;
}

.form_body {
  width: 300px;
}

.username {
  margin: 0 auto;
  font-family: helvetica;
}

a {
  text-decoration: none;
}

input {
  margin: 0 auto;
  margin: 10px;
}

.form_title {
  width: 90%;
  margin: 0 auto;
}

.form_body {
  margin: 0 auto;
  width: 90%;
}

.create {
  font-size: 20px;

}
